@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

.text-heading {
    @apply text-xl text-orange-500 dark:text-orange-400 font-bold text-center;
}

.btn-primary {
    @apply bg-orange-500 dark:bg-orange-400 hover:bg-orange-400 dark:hover:bg-orange-300 text-white dark:text-zinc-100 font-medium px-4 py-2 rounded;
}

.btn-form-primary {
    @apply bg-orange-500 dark:bg-orange-400 hover:bg-orange-400 dark:hover:bg-orange-300 text-white dark:text-zinc-100 font-medium p-4 rounded;
}

.btn-secondary {
    @apply bg-zinc-500 dark:bg-zinc-500 hover:bg-zinc-600 dark:hover:bg-zinc-400 text-white dark:text-zinc-100 font-medium px-4 py-2 rounded;
}

.btn-danger {
    @apply bg-red-500 dark:bg-red-400 hover:bg-red-400 dark:hover:bg-red-300 text-white dark:text-zinc-100 font-medium px-4 py-2 rounded;
}

.btn-success {
    @apply bg-green-500 dark:bg-green-400 hover:bg-green-600 dark:hover:bg-green-300 text-white dark:text-zinc-100 font-medium px-4 py-2 rounded;
}

.btn-toggle-active {
    @apply block w-full p-4 border font-medium bg-orange-500 dark:bg-orange-400 text-white border-gray-300 dark:border-zinc-600 rounded-md shadow-md;
    transition: all 0.3s ease-in-out;
}

.btn-toggle-inactive {
    @apply block w-full p-4 border font-medium text-zinc-400 dark:text-zinc-500 border-gray-300 dark:border-zinc-600 rounded-md shadow-md;
    transition: all 0.3s ease-in-out;
}

.btn-toggle-active:hover {
    @apply border-zinc-400;
}

.btn-toggle-inactive:hover {
    @apply border-orange-400 dark:border-orange-300;
}

.user-row {
    @apply bg-zinc-100 dark:bg-zinc-400 border border-zinc-300 dark:border-zinc-300 shadow-md shadow-zinc-400 rounded-4xl px-8 py-2
}

.user-selected {
    @apply opacity-100 font-medium
}

.user-unselected {
    @apply opacity-60
}

.select-dropdown {
    @apply border border-gray-300 rounded px-3 py-2 bg-white dark:bg-zinc-700 dark:border-zinc-600 dark:text-white;
}

.input {
    @apply block w-full p-4 border border-gray-300 dark:border-zinc-600 rounded-md shadow-md;
}

.input-type-transition {
    @apply transition-opacity duration-200 ease-in-out;
}

.checkbox {
    @apply w-6 h-6 bg-white dark:bg-zinc-700 border-2 border-gray-300 rounded focus:ring-zinc-300 focus:ring-1 cursor-pointer;
    transition: all 0.2s ease;
}

/* .checkbox:checked {
    @apply bg-orange-500 border-orange-300;
} */

.checkbox-container {
    @apply flex items-center gap-3 mt-10 ml-6;
}

.checkbox-container-scaled {
    @apply flex items-center gap-3 mt-4 ml-6;
}

.checkbox-label {
    @apply text-zinc-600 dark:text-zinc-300 font-medium cursor-pointer select-none;
}

.label {
    @apply block mb-1.5 font-medium;
}

.label-enabled {
    @apply text-zinc-600 dark:text-zinc-300 pl-4 pt-4;
}

.label-disabled {
    @apply text-white dark:text-zinc-800 pointer-events-none pl-4 pt-4;
    user-select: none;
}

.span-enabled {
    @apply opacity-100 text-zinc-600 dark:text-zinc-300 font-medium pointer-events-none pl-4 pt-4;
    transition: opacity 0.3s ease;
}

.span-disabled {
    @apply opacity-0 pointer-events-none;
    transition: opacity 0.3s ease;
}

.alert-success {
    @apply my-8 rounded-md border-l-4 border-green-300 bg-green-100/75 p-4 text-green-700;
}

.alert-error {
    @apply my-8 rounded-md border-l-4 border-red-300 bg-red-100/75 p-4 text-red-700;
}

.text-error {
    @apply text-red-600 dark:text-red-400 font-medium mt-1.5 pl-2;
}

.text-hidden {
    @apply mt-1.5 text-white dark:text-zinc-800;
}

.card-hover:hover {
    transform: translateY(-1px);
    transition: all 0.2s ease;
    @apply bg-zinc-100 dark:bg-zinc-600 shadow-md rounded-md;
    overflow: hidden;
}

.card-disabled {
    @apply opacity-50 pointer-events-none;
}

.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding-right: 0.25rem;
}

.truncate {
    padding-right: 0.25rem;
}

[title] {
    overflow: hidden;
}

@media (prefers-color-scheme: dark) {
    input[type="datetime-local"]::-webkit-calendar-picker-indicator {
        filter: invert(1);
    }
}

/* input[type="datetime-local"] {
    position: relative;
}

/* input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
} */

/* Pokaż prawdziwą ikonę na hover */
/* input[type="datetime-local"]:focus::-webkit-calendar-picker-indicator {
    opacity: 1;
    width: auto;
    height: auto;
    position: static;
} */

